# First data

## police data csv

In [ ]:
# Kitabxanalari daxil edin

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# data-ni oxuyun

In [14]:
df = pd.read_csv(r'C:\Users\nijat\Desktop\PYTHON - KURS\Ders 9\police.csv')
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1.2.2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1.18.2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1.23.2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2.20.2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3.14.2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,12.31.2015,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,12.31.2015,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,12.31.2015,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,12.31.2015,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,12.31.2015,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [ ]:
# Data hansi musteqil ve asili deyishenlerden teshkil olunub?

# data-nin tipi nedir? regressiya yoxsa klassifikasiya? ne sebebe?

Asili - is_arrested

Qalan her biri - musteqil

klassifikasiya

In [6]:
# describe metodu ile data-nin statistikanin gosterin

In [15]:
df.describe(include = 'all')

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
count,91741,91741,0.0,86406,86414.000000,86120.000000,86408,86408,86408,91741,3196,86408,86408,86408,91741
unique,3768,1436,NaN,2,NaN,NaN,5,12,6,2,24,6,2,5,2
top,1.11.2012,11:00,NaN,M,NaN,NaN,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False
freq,69,323,NaN,62895,NaN,NaN,62158,48463,48463,88545,1219,77006,83479,69543,90926
mean,NaN,NaN,NaN,NaN,1970.491228,34.011333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,110.914909,12.738564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,1967.000000,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1980.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,1987.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,8801.000000,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#  .dtypes methodu ile datanin deyishenlerinin tipini mueyyen edin

In [17]:
df.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

.isnull().sum() methodu ile data-da NaN deyerlerin sayini mueyyen edin.

90% NaN deyerinden yuksek olan sutunlari data-dan drop edin columns.

Az sayda NaN  deyeri olan kateqorik sutunlari her hansi bir deyer ile evez edin.
(Meselen gender sutununda male, female ve boshluqlar varsa, hemin boshluqlari Unknown ile evez edin)

Numerical sutunlarda olan NaN  deyerleri ise statistik deyer ile evez edin.
(Meselen average,min,max ve basqalari)

In [19]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [20]:
df.columns

Index(['stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [23]:
df.drop('county_name', axis=1, inplace=True)
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1.2.2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1.18.2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1.23.2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2.20.2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3.14.2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,12.31.2015,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,12.31.2015,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,12.31.2015,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,12.31.2015,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,12.31.2015,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [24]:
df.drop('search_type', axis=1, inplace=True)
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1.2.2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1.18.2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1.23.2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2.20.2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3.14.2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,12.31.2015,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
91737,12.31.2015,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,Warning,False,0-15 Min,False
91738,12.31.2015,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,Warning,False,0-15 Min,False
91739,12.31.2015,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
91740,12.31.2015,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [26]:
# 'violation_raw' sutununda olan deyerlerin sayini value_counts() metodu ile yoxlayin 

df.value_counts('violation_raw')

violation_raw
Speeding                            48463
Other Traffic Violation             16224
Equipment/Inspection Violation      11020
Registration Violation               3432
Seatbelt Violation                   2952
Special Detail/Directed Patrol       2455
Call for Service                     1298
Violation of City/Town Ordinance      211
Motorist Assist/Courtesy              203
APB                                    79
Suspicious Person                      56
Warrant                                15
dtype: int64

In [ ]:
# 'stop_outcome' sutununda olan deyerlerin sayini value_counts() metodu ile yoxlayin

# bu sutunde deyerlerden biri 'Arrest Driver' -dir.
# Arrest olunmush shexsleri yeni bir data-ya menimsedin.

In [27]:
df.value_counts('stop_outcome')

stop_outcome
Citation            77006
Warning              5294
Arrest Driver        2571
N/D                   590
No Action             589
Arrest Passenger      358
dtype: int64

In [29]:
df_arrest_driver = df[df['stop_outcome'] == 'Arrest Driver']
df_arrest_driver

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
3,2.20.2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
22,8.8.2005,2:09,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,Arrest Driver,True,30+ Min,False
24,8.28.2005,1:00,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,Arrest Driver,True,16-30 Min,False
31,9.28.2005,6:20,M,1982.0,23.0,White,Speeding,Speeding,False,Arrest Driver,True,16-30 Min,False
40,10.1.2005,0:00,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Arrest Driver,True,16-30 Min,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91297,12.8.2015,1:30,M,1994.0,21.0,Hispanic,Equipment/Inspection Violation,Equipment,False,Arrest Driver,True,0-15 Min,False
91386,12.12.2015,20:00,M,1973.0,42.0,Black,Other Traffic Violation,Moving violation,True,Arrest Driver,True,16-30 Min,False
91471,12.16.2015,14:52,M,1975.0,40.0,Hispanic,Other Traffic Violation,Moving violation,True,Arrest Driver,True,30+ Min,False
91625,12.26.2015,23:18,M,1969.0,46.0,Hispanic,Registration Violation,Registration/plates,False,Arrest Driver,True,16-30 Min,False
91628,12.27.2015,0:27,M,1987.0,28.0,Hispanic,Registration Violation,Registration/plates,False,Arrest Driver,True,16-30 Min,False

In [44]:
# Polis terefinden arrest edilmish yalniz Gender = Male olan datani ayirin ve ayri data kimi menimsedin.
df_male = df[df['driver_gender'] == 'M']
df_male

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1.2.2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1.18.2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1.23.2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2.20.2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
5,3.23.2005,9:45,M,1982.0,23.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91735,12.31.2015,20:25,M,1992.0,23.0,Hispanic,Speeding,Speeding,False,Citation,False,0-15 Min,False
91736,12.31.2015,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
91738,12.31.2015,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,Warning,False,0-15 Min,False
91739,12.31.2015,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
91740,12.31.2015,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [ ]:
# Polis terefinden tutulmush kishilerin ortalama yashi nechedir?

In [45]:
df_male['driver_age'].mean()

34.5378856805376

In [ ]:
# Polis terefinden tutulmush kishilerden en yuksek yash olani gosterin

In [46]:
df_male['driver_age'].max()

94.0

In [ ]:
# 'Stop_outcome' sutunundaki Arrested Driver deyerini ayri bir data kimi chixarin.

# Yeni data-da tutulmush shexslerin 'VIOLATION' sutunu sayesinde tutulma sebeblerin say ile gosterin.

In [51]:
df_male2 = df[df['stop_outcome'] == 'Arrest Driver']
df_male2

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
3,2.20.2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
22,8.8.2005,2:09,M,1955.0,50.0,Black,Other Traffic Violation,Moving violation,False,Arrest Driver,True,30+ Min,False
24,8.28.2005,1:00,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,Arrest Driver,True,16-30 Min,False
31,9.28.2005,6:20,M,1982.0,23.0,White,Speeding,Speeding,False,Arrest Driver,True,16-30 Min,False
40,10.1.2005,0:00,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Arrest Driver,True,16-30 Min,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91297,12.8.2015,1:30,M,1994.0,21.0,Hispanic,Equipment/Inspection Violation,Equipment,False,Arrest Driver,True,0-15 Min,False
91386,12.12.2015,20:00,M,1973.0,42.0,Black,Other Traffic Violation,Moving violation,True,Arrest Driver,True,16-30 Min,False
91471,12.16.2015,14:52,M,1975.0,40.0,Hispanic,Other Traffic Violation,Moving violation,True,Arrest Driver,True,30+ Min,False
91625,12.26.2015,23:18,M,1969.0,46.0,Hispanic,Registration Violation,Registration/plates,False,Arrest Driver,True,16-30 Min,False
91628,12.27.2015,0:27,M,1987.0,28.0,Hispanic,Registration Violation,Registration/plates,False,Arrest Driver,True,16-30 Min,False

In [54]:
df_male2['violation_raw'].value_counts()

Other Traffic Violation             813
Speeding                            583
Equipment/Inspection Violation      491
Registration Violation              302
Call for Service                    248
Seatbelt Violation                   55
APB                                  23
Special Detail/Directed Patrol       15
Suspicious Person                    13
Motorist Assist/Courtesy             10
Violation of City/Town Ordinance     10
Warrant                               8
Name: violation_raw, dtype: int64

# Second data
## House.xlsx

In [ ]:
# Datani oxuyun

In [55]:
df2 = pd.read_excel(r'C:\Users\nijat\Desktop\PYTHON - KURS\Ders 9\house.xlsx')
df2

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [ ]:
# Data hansi musteqil ve asili deyishenlerden teshkil olunub?

# data-nin tipi nedir? regressiya yoxsa klassifikasiya? ne sebebe?

price asili

digerleri musteqil

regressiya

In [ ]:
# describe metodu ile data-nin statistikanin gosterin

# numeric ve categoric columnlar hansilardir?

In [57]:
df2.describe(include = 'all')

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128,128
unique,NaN,NaN,NaN,NaN,NaN,NaN,2,3
top,NaN,NaN,NaN,NaN,NaN,NaN,No,East
freq,NaN,NaN,NaN,NaN,NaN,NaN,86,45
mean,64.500000,130427.343750,2000.937500,3.023438,2.445312,2.578125,NaN,NaN
std,37.094474,26868.770371,211.572431,0.725951,0.514492,1.069324,NaN,NaN
min,1.000000,69100.000000,1450.000000,2.000000,2.000000,1.000000,NaN,NaN
25%,32.750000,111325.000000,1880.000000,3.000000,2.000000,2.000000,NaN,NaN
50%,64.500000,125950.000000,2000.000000,3.000000,2.000000,3.000000,NaN,NaN
75%,96.250000,148250.000000,2140.000000,3.000000,3.000000,3.000000,NaN,NaN
max,128.000000,211200.000000,2590.000000,5.000000,4.000000,6.000000,NaN,NaN

In [ ]:
#  .dtypes methodu ile yoxlayin

In [58]:
df2.dtypes

Home             int64
Price            int64
SqFt             int64
Bedrooms         int64
Bathrooms        int64
Offers           int64
Brick           object
Neighborhood    object
dtype: object

In [ ]:
# .isnull().sum() methodu ile data-da NaN deyerlerin sayini mueyyen edin.

In [59]:
df2.isnull().sum()

Home            0
Price           0
SqFt            0
Bedrooms        0
Bathrooms       0
Offers          0
Brick           0
Neighborhood    0
dtype: int64

In [ ]:
# Deyeri eyni zamanda hem 100minden az olan hem de 1500 sqft-den boyuk olan datani ayirin.

In [76]:
df21 = df2.loc[(df2['Price'] < 100000) & (df2['SqFt'] > 1500)]
df21

     Home  Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
3       4  94700  1980         3          2       3    No         East
17     18  83600  1990         3          3       4    No        North
22     23  91700  1690         3          2       3    No        North
27     28  99300  1700         3          2       2    No         East
28     29  69100  1600         2          2       3    No        North
47     48  90300  2050         3          2       6    No        North
51     52  91100  1860         2          2       3    No        North
54     55  81300  1650         3          2       3    No        North
68     69  93600  2140         3          2       4    No        North
84     85  90500  1520         2          2       3    No        North
89     90  97800  2010         2          2       4    No        North
104   105  82300  1910         3          2       4    No         East

In [ ]:
# Ayirdiqiniz data uzerinde 2 elave column yaradin.

#1ci column (Offer_type) - Offer sutunu uzre 2den az beraber olanlar bad, 4den chox beraber olanlar good , digerleri ise 
# normal shertin alsin.

# 2ci column (House_type) - Bedroom ve Bathroom uzre eger say 3den chox olarsa house az olarsa apartment yazilsin

In [80]:
conditions = [
    (df21.Offers <= 2),
    (df21.Offers >= 4),

    
]
values = ["bad", 'high_score']
df21["offer_type"] = np.select(conditions, values, default='normal')
df21

C:\Users\nijat\AppData\Local\Temp\ipykernel_10704\2398968157.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df21["offer_type"] = np.select(conditions, values, default='normal')

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood,condition,offer_type
3,4,94700,1980,3,2,3,No,East,normal,normal
17,18,83600,1990,3,3,4,No,North,high_score,high_score
22,23,91700,1690,3,2,3,No,North,normal,normal
27,28,99300,1700,3,2,2,No,East,bad,bad
28,29,69100,1600,2,2,3,No,North,normal,normal
47,48,90300,2050,3,2,6,No,North,high_score,high_score
51,52,91100,1860,2,2,3,No,North,normal,normal
54,55,81300,1650,3,2,3,No,North,normal,normal
68,69,93600,2140,3,2,4,No,North,high_score,high_score
84,85,90500,1520,2,2,3,No,North,normal,normal
89,90,97800,2010,2,2,4,No,North,high_score,high_score
104,105,82300,1910,3,2,4,No,East,high_score,high_score

In [83]:
df21

,Home,Price,SqFt,Bedrooms,Bathrooms,Offers,Brick,Neighborhood,offer_type
3,4,94700,1980,3,2,3,No,East,normal
17,18,83600,1990,3,3,4,No,North,high_score
22,23,91700,1690,3,2,3,No,North,normal
27,28,99300,1700,3,2,2,No,East,bad
28,29,69100,1600,2,2,3,No,North,normal
47,48,90300,2050,3,2,6,No,North,high_score
51,52,91100,1860,2,2,3,No,North,normal
54,55,81300,1650,3,2,3,No,North,normal
68,69,93600,2140,3,2,4,No,North,high_score
84,85,90500,1520,2,2,3,No,North,normal
89,90,97800,2010,2,2,4,No,North,high_score
104,105,82300,1910,3,2,4,No,East,high_score

In [ ]:
# Korrelasiyalari sade cedvel ile gosterin (.corr() metodu)

In [86]:
df2.corr()

               Home     Price      SqFt  Bedrooms  Bathrooms    Offers
Home       1.000000  0.108190  0.168553 -0.068568   0.127694 -0.053597
Price      0.108190  1.000000  0.552982  0.525926   0.523258 -0.313636
SqFt       0.168553  0.552982  1.000000  0.483807   0.522745  0.336923
Bedrooms  -0.068568  0.525926  0.483807  1.000000   0.414556  0.114271
Bathrooms  0.127694  0.523258  0.522745  0.414556   1.000000  0.143793
Offers    -0.053597 -0.313636  0.336923  0.114271   0.143793  1.000000

In [ ]:
# asilliqlari oz sozlerinizle izah edin. 

eger 1 dirse reqem, demeli tam olaraq duz elaqelidirler
lakin neqativ olsa eks elaqelidirler
ne qeder cox - olsa o qeder eks elaqelidirler

# hansi deyishen asilidir? ve musteqil deyishenlerle asili deyishen arasindaki asilliq ne qederdir?

asili deyisen Price-dir. Onunla en az corr sqft, bedrooms ve bathrooms arasinda var

In [ ]:
# Korelasiyalari 50 faizden boyuk olan deyishenleri yeni bir dataya menimsedin.

In [89]:
df22 = df2[['Price', 'SqFt', 'Bedrooms', 'Bathrooms']]
df22

      Price  SqFt  Bedrooms  Bathrooms
0    114300  1790         2          2
1    114200  2030         4          2
2    114800  1740         3          2
3     94700  1980         3          2
4    119800  2130         3          3
..      ...   ...       ...        ...
123  119700  1900         3          3
124  147900  2160         4          3
125  113500  2070         2          2
126  149900  2020         3          3
127  124600  2250         3          3

[128 rows x 4 columns]